<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <img class="my-0 mr-md-auto font-weight-normal" height="60" width="60" src="./assets/aeye_logo.png" alt="A-EYE">  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/webcam"><img src="./assets/webcam.png">MobileNet</a>
      <a class="p-2 text-dark" routerLink="/upload"><img src="./assets/photo.png">A-EYE</a>
      <a class="p-2 text-dark" routerLink="/webcam_client"><img src="./assets/webcam.png">A-EYE </a>
      <a class="p-2 text-dark" routerLink="/captionbot"><img src="./assets/photo.png">CaptionBot</a>
  </nav>
</div>