<div class="d-flex justify-content-around">
  <button mat-button (click)="onLangClick()" ><img style="width:30px;height:30px;" src="../../assets/{{btnFlag}}.png"/>  {{langLabel}}</button>
  <mat-slide-toggle (change)="onSpeechChange($event)">Speech</mat-slide-toggle>
</div>

<div class="cont d-flex justify-content-center align-items-center flex-column">

  <div class="custom-file">
    <input type="file" class="custom-file-input" (change)="fileChangeEvent($event)">
    <label class="custom-file-label">Choose file</label>
  </div>

  <div *ngIf="loading; else elseBlock">
    <img src="./assets/loading.gif">
  </div>

  <ng-template #elseBlock>
    <img [src]="imageSrc" #img *ngIf="imageSrc"/>
    <p id="label">{{label}}</p>

  </ng-template>

  <div class="server-check">
      <button mat-mini-fab color="primary" (click)="onClick()">Ping</button>
    <p id="greeting">{{helloMsg}}</p>
  </div>

</div>